/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #b3b1b133;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

body.vscode-light .collapsible {
    background-color:  white;
    color: black;
    }

  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #cccccc33;
}

body.vscode-light .active, .collapsible:hover {
  background-color: #69676733;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  transition: ease-out;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color: white;
}

body.vscode-light .collapsible:after {
  color: black;
}


.active:after {
  content: "\2212";
}

form label{
  display: inline-block;
  width: 140px;
  text-align: left;
  padding-left: 0px;
  font-size: 14px;
  vertical-align: middle;
}

input[type=text] {
  width: 50%;
  padding: 5px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #cccccc33;
  border: 1px solid #ccc;
  display: inline-block;
  color: white;
} 

body.vscode-light input[type=text]{
  color: black;
}

body.vscode-light textarea {
  color: black;
}


body.vscode-light select {
  color: black;
}

div {
  margin-bottom: 10px;
}

select {
  background-color: #cccccc33;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  color: white;
}

textarea { 
  vertical-align: middle; 
  background-color: #cccccc33;
  padding: 12px 20px 10px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 50%;
  height: 120px;
  color: white;
}​

input {
  background-color: #cccccc33;
  padding: 12px 20px 10px 20px;
  margin-top: 10px;
  color: white;
}

body.vscode-light input {
  color: black;
}

button {
  padding: 5px 5px;
  border-radius: 8px;
  background-color: #cccccc33;
  text-decoration: double;
  text-align: center;
  color: white;
}

button:hover {
  background-color: #9e9998d0;
}

body.vscode-light button {
  color: black;
}

h1 {
  display: block;
  text-align: left;
}
img {
  margin: 5px 15px;
}

/* .partblock:hover{
  background: #e4e1e0d0;
} */

.separateClassName {
  border-bottom: 1px solid #bbb9b4;
}


#advancedDivId input[type=text]{
  width: 150%;
}

body.vscode-light #advancedDivId input[type=text]{
  color: black;
}